p.amount-display {
  margin-bottom: 2rem;
  font-size: var(--fs-sm);
  color: var(--clr-grey-800);
  opacity: 0.7;
}

p.converted-amount-display {
  margin-bottom: 2rem;
  font-size: var(--fs-lg);
  font-weight: 700;
  color: var(--clr-grey-800);
}

p.conversion-rate-display {
  font-size: var(--fs-vsm);
  font-weight: 300;
  color: var(--clr-grey-800);
  opacity: 0.7;
}

p.conversion-rate-display:last-of-type {
  margin-top: 0.5rem;
}

@media screen and (max-width: 768px) {
  p.converted-amount-display {
    font-size: var(--fs-md);
  }
}

@media screen and (max-width: 480px) {
  p.converted-amount-display {
    font-size: var(--fs-base);
  }
}
