:root {
  font-size: 62.5%;

  --clr-white: #fff;

  --clr-grey-100: #f7f7f7;
  --clr-grey-300: rgba(200, 200, 200, 0.2);
  --clr-grey-800: hsl(220, 31%, 26%);

  --clr-blue: hsl(222, 69%, 45%);
  --clr-red: hsl(349, 100%, 35%);

  --fs-vgl: 4rem;
  --fs-lg: 3.2rem;
  --fs-md: 2.4rem;
  --fs-base: 1.8rem;
  --fs-sm: 1.6rem;
  --fs-vsm: 1.4rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
}

body {
  font-size: var(--fs-base);
  font-family: "Inter", sans-serif;
  background: url("assets/background.avif");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}
