li.currency-dropdown-item:hover {
  color: var(--clr-blue);
  background-color: var(--clr-grey-300);
}

li.no-results {
  color: black;
}

li.no-results:hover {
  color: black;
  background-color: transparent;
}

img.close-dropdown-icon {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  div.search-currency-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    padding: 0.5rem;
    background-color: var(--clr-white);
    z-index: 2;
  }

  input.search-currency-input {
    height: 5%;
  }

  ul.currency-dropdown-menu {
    position: sticky;
    margin-top: 0.3rem;
    max-height: 95%;
  }

  img.close-dropdown-icon {
    top: 2.7rem;
  }
}
